/* Login Area */

.login,
.register {
  width: 500px;
  padding: 50px;
  position: absolute;
  left: 20%;
  top: 10%;
  background-color: #2f3239;
  border-radius: 5px;
}

h3,
.login h5 {
  width: 100%;
  text-align: center;
}

.login h5 {
  color: #bcbcbc;
}

body {
  background-image: url("https://source.unsplash.com/1920x1080/?texture,abstract");
  background-size: cover;
}

