<template>
<!-- Modal -->
    <div class="modal fade" data-keyboard="true" id="channel-creation" role="dialog" tabindex="-1">
        <div class="modal-dialog">
        
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">CREATE A CHANNEL</h4>
                </div>
                <form class="modal-body">
                    <div class="row">
                        <div class="col">
                            <label for="name">CHANNEL NAME</label>
                            <input class="form-control" id="name" type="text" name="name" placeholder="Chat Lounge">
                            <label for="name">CHANNEL TOPIC</label>
                            <input class="form-control" id="topic" type="text" name="topic" placeholder="A place to talk to friends">
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
                    <button type="button" v-on:click="Submit();" class="btn btn-primary" data-dismiss="modal">CREATE</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            shown: false
        };
    }, mounted() {
        window.events.$on('add-channel', function() {
            this.shown = true;
        }.bind(this));
    },
    methods: {
        previewImage() {
            const input = $("#icon")[0];
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function (e) {
                    $('#icon-preview').css('background-image', "url('" + e.target.result + "')");
                }
                
                reader.readAsDataURL(input.files[0]);
            } else {
                alert("Your browser does not support file previews, so none will show");
            }
        },
        Submit() {
            $.POST('guild/' + window.store.state.selectedGuild.guild._id + '/create', $("#channel-creation form").serialize(), function(result, data) {
                if (result != "success") {
                    alert(data);
                }
                console.log(data);
            });
        }
    }
}
</script>

<style lang="scss" scoped>
   @import '~@/_variables.scss';
    .placeholder {
        background-color: $primary;
    }
</style>