<template>
    <div class="col editable">
        <div class="row title" id="chat-title">
            <b class="secondary-text hashtag"># </b>
            <a class="primary-text channel-name">{{ channel.name }}</a>
            <a id="description">{{ channel.topic }}</a>
        </div>
        <div class="row">
            <div class="chat-content">
                <div id="message-prefab" v-for="message in messages" v-bind:key="message.id">
                    <div class="row" v-if="message.displayed && message.type != 'Custom'">
                        <div>
                            <img class="profile" v-bind:src="api + 'user/' + message.sender_id + '/profile'">
                        </div>
                        <div class="col">
                            <a id="username" v-bind:profile="message.sender_id">{{ getAuthor(message.sender_id).name }}</a>
                            <a id="time">{{ FormatTime(message.sent) }}</a>
                            <br>
                            <div id="message" v-html="message.displayedMessage"></div>
                        </div>
                        <br>
                        <div class="divider"></div>
                    </div>
                    <div v-if="message.type == 'Custom'" class="col">
                        <component v-bind:is="message.component"></component>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <chatbar></chatbar>
    </div>
</template>

<script>

    export default {
        data () {
            return {
                api: window.settings.api,
                previousAuthor: ''
            }
        },
        computed: {
            messages() {
                return store.state.selectedGuild.messages;
            },
            channel() {
                return store.state.selectedGuild.channel;
            },
        },
        methods: {
            //Format time into format 25/4/2019 at 4:07 PM or Today at 4:07 PM
            FormatTime(time) {

                //Convert to local timezone
                var nzOffset = 720;
                var date = new Date(Date.parse(time));
                var timeOffset = (-nzOffset - new Date().getTimezoneOffset()) * 60 * 1000;
                date = new Date(date.getTime() + timeOffset);


                var hours = date.getHours();
                var pm = false;
                if (hours > 12) {
                    hours -= 12;
                    pm = true;
                }

                var day = "Today";
                //Milliseconds that have passed in the day
                var millisSinceToday = this.getMillisecondsInDay();
                //Milliseconds in a day
                var millisInDay = 86400000;
                
                if (new Date().getTime() <= date.getTime() + millisSinceToday) {
                    day = "Today";
                } else if (new Date().getTime() <= date.getTime() + ( + millisSinceToday)) {
                    day = "Yesterday";
                }else {
                    day = date.getDate() + "/" + date.getMonth() + "/" + date.getFullYear();
                }

                var time = day + " at " + hours + ":" + this.PadInt(date.getMinutes()) + " ";

                if (pm) {
                    time += "PM";
                } else {
                    time += "AM";
                }

                return time;
            },
            PadInt(num) {
                return (num < 10) ? '0' + num.toString() : num.toString();
            },
            getMillisecondsInDay() {
                var date = new Date();
                var millis = 0;
                millis += date.getHours() * 60 * 60 * 1000;
                millis += date.getMinutes() * 60 * 1000;
                millis += date.getSeconds() * 1000;
                return millis;
            }, getAuthor(id) {

                    var user = null;
                    const users = Object.entries(store.state.users);

                    for (let i = 0; i < users.length; i++) {
                        if (id == users[i][1]._id) {
                            user = users[i][1];
                        }
                    }

                    if (!user) {
                        return {
                            name: "Unknown User",
                            identifier: "0000",
                            _id: "0"
                        };
                    }

                    return user;
                },
        },
        mounted() {
            $('.chat-content').scrollTop($('.chat-content')[0].scrollHeight);
        },
        updated() {
            $('.chat-content').scrollTop($('.chat-content')[0].scrollHeight);
        },
    }; 
</script>

<style lang="scss" scoped>
   @import '~@/_variables.scss';

    /* Message Styling */

    .profile {
        border-radius: 100px;
        width: 40px;
        height: 40px;
        background-color: #2f3136;
        margin-left: 20px;
        cursor: pointer;
    }

    #username {
        color: rgb(46, 204, 113);
        font-weight: 600;
        cursor: pointer;
        user-select: none;
    }

    #message {
        color: white;
        font-weight: 400;
        margin-bottom: 0px !important;
        font-family: 'Roboto', sans-serif;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
        white-space: pre;
    }

    #message {
        &::v-deep .row {
            margin: 0px !important;
        }
    }

    #message br {
        display: none;
    }

    #emoji {
        font-family: Segoe UI Emoji !important;
        font-size: 20px;
    }

    #time {
        color: grey;
        font-size: 11px;
    }

    /* Chat Title */

    /*.row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }*/

    .title {
        height: 50px;
        padding-left: 10px;
        border-bottom: $d_background 1px solid;
    }

    .hashtag {
        font-size: 21px;
        color: $secondary_text;
        margin-top: 8px;
    }

    .channel-name {
        font-size: 16px;
        margin-top: 11px;
        margin-left: 5px;
        margin-right: 10px;
    }

    #description {
        height: 30px;
        margin-top: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 10px;
        border-left: #3e4147 1px solid;
        text-overflow: ellipsis;
        width: 55%;
        overflow:hidden;
        color: $secondary_text;
    }

    .chat-content {
        overflow-y: auto;
        height: calc(100vh - 130px);
        padding-bottom: 30px;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        width: 100%;
        overflow-x: hidden;
        scrollbar-color: hsla(0,0%,100%,.2) #2f3136;
    }
</style>
