<template>
<!-- Modal -->
    <div class="modal fade" data-keyboard="true" id="guild-screen" role="dialog" tabindex="-1">
        <div class="modal-dialog">
        
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">CREATE YOUR SERVER</h4>
                </div>
                <form class="modal-body" v-on:submit="Submit(); return false;">
                    <div class="row">
                        <div class="col-4">
                            <label for="icon"><div class="placeholder" id="icon-preview"></div></label>
                            <input style="display: none;" accept="image/x-png,image/gif,image/jpeg" v-on:change="previewImage();" type="file" name="icon" id="icon">
                        </div>
                        <div class="col-8">
                            <label for="name">SERVER NAME</label>
                            <input class="form-control" id="name" type="text" name="name" placeholder="Chat Lounge">
                            <br>
                            <div class="row">
                                <input class="form-control" id="defaults" type="checkbox" checked name="defaults" >
                                <label for="defaults" class="checkbox">×</label>
                                <label for="defaults">DEFAULT SETTINGS</label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" v-on:click="Submit();">CREATE</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            shown: false
        };
    }, mounted() {
        window.events.$on('add-guild', function() {
            this.shown = true;
        }.bind(this));
    },
    methods: {
        previewImage() {
            const input = $("#icon")[0];
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function (e) {
                    $('#icon-preview').css('background-image', "url('" + e.target.result + "')");
                }
                
                reader.readAsDataURL(input.files[0]);
            } else {
                alert("Your browser does not support file previews, so none will show");
            }
        },
        Submit() {
            var data = new FormData($("#guild-screen form")[0]);

            $.POST('guild/create', data, function(result, data) {
                if (result != "success") {
                    alert(data);
                }
                console.log(data);
            });
        }
    }
}
</script>

<style lang="scss" scoped>
   @import '~@/_variables.scss';
    .placeholder {
        background-color: $primary;
    }
</style>