<template>
    <div v-if="shown" class="background">
        <div class="row">
            <div class="col-4 nav">
                <div class="col">
                    <a class="label">GUILD SETTINGS</a>
                    <ul class="">
                        <li v-on:click="tab = 'overview'" v-bind:class="{selected: tab == 'overview'}"><a>Overview</a></li>
                        <li v-on:click="tab = 'moderation'" v-bind:class="{selected: tab == 'moderation'}"><a>Moderation</a></li>
                        <li v-on:click="tab = 'roles'" v-bind:class="{selected: tab == 'roles'}"><a>Roles</a></li>
                        <li v-on:click="tab = 'emoji'" v-bind:class="{selected: tab == 'emoji'}"><a>Emoji</a></li>
                        <li v-on:click="showCSS();" v-bind:class="{selected: tab == 'css'}"><a>Custom CSS</a></li>
                        <li v-on:click="tab = 'members'" v-bind:class="{selected: tab == 'members'}"><a>Members</a></li>
                    </ul>
                </div>
            </div>
            <div class="col content">
                <div class="col">
                    <div class="col" v-if="tab == 'overview'">
                        <div class="row">
                            <div class="icon-column">
                                <label for="icon"><div v-bind:style="{'background-image': 'url(\'' + api + 'guild/' + selectedGuild._id + '/icon\')'}" class="placeholder" id="icon-preview"></div></label>
                                <input style="display: none;" accept="image/x-png,image/gif,image/jpeg" v-on:change="previewImage();" type="file" name="icon" id="icon">
                                <center><label for="icon">UPLOAD ICON</label></center>
                            </div>
                            <div class="col">
                                <label for="name">SERVER NAME</label>
                                <input class="form-control" id="name" type="text" name="name" v-bind:placeholder="selectedGuild.name" v-bind:value="selectedGuild.name">
                                <br>
                                <label for="invite">SERVER INVITE</label>
                                <div class="form-control">
                                    <a class="locked">http://thiscord.com/i/</a>
                                    <input id="invite" type="text" name="invite" maxlength=10 v-bind:value="Math.random().toString(36).substring(7)">
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col" v-if="tab == 'css'">
                        <a class="title">CUSTOM CSS</a>
                        <pre class="prettyprint lang-css">{{ code }}</pre>
                        <br>
                        <a class="label">CSS SELECTOR CHEAT SHEET</a>
                        <cssselectorcheatsheet></cssselectorcheatsheet>
                    </div>
                </div>
                <div v-on:click="shown = false;" class="exit">
                    <a>×</a>
                </div>
            </div>
            <div class="col-2">

            </div>
        </div>
    </div>
</template>

<script>
import MonacoEditor from 'vue-monaco-editor'
import { setTimeout } from 'timers';

export default {
    data() {
        return {
            api: window.settings.api,
            code: '',
            options: {
                selectOnLineNumbers: true
            },
            shown: false,
            tab: 'overview'
        };
    },
    created() {
        window.events.$on('guild-settings', function() {
            this.shown = true;
            this.tab = 'overview';
            if (this.selectedGuild.css != "") {
                this.code = this.selectedGuild.css;
            } else {
                this.code = "/* Enter your custom server CSS here */\nYeet!";
            }

        }.bind(this));

    },
    methods: {
        showCSS() {
            this.tab = 'css';

            setTimeout(function() {
                PR.prettyPrint();
            }, 0.1);
        }
    },
    computed: {
        selectedGuild() {
            return store.state.selectedGuild.guild;
        }
    }
}
</script>

<style lang="scss" scoped>
   @import '~@/_variables.scss';

    .background {
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 3;
        background-color: $l2_background;
        animation: show 0.1s;
    }

    @keyframes show {
        from {
            opacity: 0;
            transform: scale(0.95);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    .content {
        padding: 0px;
    }

    .nav {
        background-color: $background;
        height: 100vh;
        padding-top: 30px;
    }
    
    .nav .col {
        height: 100vh;
        position: absolute;
        right: 0px;
        max-width: 250px;
    }

    .content > .col {
        height: 100vh;
        max-width: 850px;
        padding: 30px 15px 30px 15px;
        height: 100vh;
        overflow: auto;
    }

    .title {
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 16px;
        padding-left: 10px;
    }

    .exit{
        border: 2px $ui_element solid;
        border-radius: 100px;
        font-size: 30px;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 1vw;
        top: 50px;
        cursor: pointer;
    }

    .exit a {
        display: block;
        margin-left: 10px;
        margin-top: -6px;
    }

    input, textarea, .form-control {
        background-color: $background !important;
    }

    /* Overview Area */
    .icon-column {
        width: 133px;
        margin-right: 30px;
    }

    .locked {
        color: $secondary_text !important;
        position: relative;
        top: 2px;
    }

    #invite {
        position: relative;
        top: 2px;
        left: -10px;
        background-color: transparent !important;
    }

</style>
