<template>
    <div class="card shadow-sm">
        <div class="col guild-background" v-bind:style="{'background-image': 'url(\'' + api + 'guild/' + guild + '/background'}">
            <div class="row">
                <div class="col icon">
                    <div class="placeholder" v-bind:style="{'background-image': 'url(\'' + api + 'guild/' + guild + '/icon'}"></div>
                </div>
                <div class="col info">
                    <a class="name">{{ guild.name }}</a>
                    <br>
                    <a class="owner">By {{ guild.owner.name }}</a>
                    <div class="row notes">
                        <a class="note">8 Online</a>
                        <a class="note">10 Members</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row actions">
            <div class="col-4">
                <a class="btn cancel">CANCEL</a>
            </div>
            <div class="col-8">
                <a class="btn join btn-primary" v-on:click="Join();">JOIN</a>
            </div>
        </div>
        <br>
    </div>
</template>

<script>

export default {
    data() {
        return {
            api: window.settings.api,
            id: "5d2ac3779063f02b47a14fea",
            guild: {}
        };
    },
    created() {
        this.guild = window.store.state.guilds[this.id];
        this.guild.owner = window.store.state.users[this.guild.owner_id];
    },
    methods: {
        Join() {
            $.POST('user/' + window.store.state.user._id + '/join', {
                guildId: this.id
            }, function(result, data) {
                if (result != 'success') {
                    alert(data.error.message);
                }
            });
        }
    }
}
</script>

<style lang="scss" scoped>
   @import '~@/_variables.scss';

    /* Standard syntax */
    @keyframes show {
        from {
            opacity: 0;
            transform: scale(0.95);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    .card {
        width: 400px;
        padding: 50px;
        padding: 0px;
    }

    .guild-background {
        background-size: cover;
        background-position: center;
        border-top-left-radius: $high_roundness;
        border-top-right-radius: $high_roundness;
    }

    .guild-background:after {
        background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1) 75%);
        content: '';
        background-size: cover;
    }

    .note {
        display: block;
        background-color: $l2_background;
        border-radius: 100px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 5px;
        font-weight: 900;
        color: $secondary_text !important;
    }

    .notes {
        float: right;
        margin-top: 20px;
        margin-right: 7px;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .placeholder {
        width: 70px;
        height: 70px;
    }

    .icon {
        max-width: 100px;
        padding-top: 20px;
        background-color: $background;
        border-top-left-radius: $high_roundness;
    }

    .icon div {
        z-index: 3;
    }

    .info {
        padding-top: 20px;
        background: linear-gradient(100deg, $background 10%, transparent 30%, transparent 100%);
    }

    .info .name {
        font-weight: 900;
        font-size: 20px;
        text-shadow: 2px 2px #2f3239;
    }

    .info .owner {
        font-weight: bold;
        font-size: 12px;
        color: $secondary_text !important;
        margin-bottom: 10px;
        text-shadow: 2px 2px #2f3239;
    }

    .btn {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    .cancel {
        text-align: left;
        position: relative;
        bottom: -10px;
        text-decoration: underline !important;
        color: $secondary_text !important;
    }

    .actions {
        padding-right: 10px;
    }

</style>
