<template>
    <div class="card shadow" id="small-user-display">
        <div class="profile" v-bind:style="{ 'background-image': 'url(\'' + api + 'user/' + user._id + '/profile\')'}">
        </div>
        <div class="content">
            <b class="name">{{ user.name }}<a>#{{ user.identifier }}</a></b>
            <a class="label">STATUS</a>
            <div class="row" style="margin-top: 5px;">
                <div class="col-4">
                    <div id="status-image"></div>
                </div>
                <div class="col-8">
                    <a class="status-title">TODO</a>
                    <br>
                    <a class="status-desc">Smh good ole dark needs to implement a status system before this works</a>
                </div>
            </div>
            <br>
            <input class="form-control" type="text" v-bind:placeholder="'Message ' + user.name">
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            api: window.settings.api,
            user: {
                _id: "0",
                name: "Default User",
                identifier: "-1000"
            },
            show: false
        };
    },
    mounted() {

        $("*[profile]").click(function(click) {
            var pos = click.currentTarget.getBoundingClientRect();

            //Offset
            pos.x -= 10;

            $("#small-user-display").css('top', (pos.y / 1.5) + "px");
            $("#small-user-display").css('left', (pos.x + pos.width + 30) + "px");
            this.show = true;

            this.user = window.store.state.users[click.currentTarget.getAttribute("profile")];
        }.bind(this));

        $(document).click(function(event) {
            if (this.show) {
                $("#small-user-display").css('display', "block");
                this.show = false;
                return;
            }
            var target = $(event.target);
            if(!target.closest('#small-user-display').length && $('#small-user-display').css("display") == "block") {
                $('#small-user-display').hide();
            }        
        }.bind(this));
    }
}
</script>

<style lang="scss" scoped>
   @import '~@/_variables.scss';

    .card {
        position: absolute;
        left: 200px;
        top: 200px;
        width: 250px;
        animation: show 0.05s;
        display: none;
    }

        /* Standard syntax */
    @keyframes show {
        from {
            opacity: 0;
            transform: translateX(10px);
        }
        to {
            opacity: 1;
            transform: translateX();
        }
    }

    .card .profile {
        width: 100%;
        border-radius: $high_roundness $high_roundness 0px 0px;
        background-position: center !important;
        background-size: cover;
    }

    .card .name {
        font-size: 26px;
        padding-bottom: 10px;
        position: relative;
        top: -30px;
        height: 5px;
        text-shadow: 2px 2px $background;
    }

    .card .name a {
        font-size: 20px;
        color: $secondary_text;
        text-shadow: 2px 2px $background;
    }

    .card .profile:after {
        display: block;
        position: relative;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 65%, $l2_background 100%);
        height: 170px;
        width: 100%;
        content: '';
        background-size: cover;
    }

    #status-image {
        width: 70px;
        height: 70px;
        border-radius: $high_roundness;
        background-color: $l_background;
        background-size: cover;
        background-position: center;
    }

    .status-title {
        font-weight: 900;
        overflow: hidden;
        width: 100%;
    }

    .status-desc {
        color: $secondary_text !important;
        font-size: 12px;
        line-height: 1.1;
        max-height: 40px;
        overflow: hidden;

        display: -webkit-box;
        margin: 0 auto;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card input {
        background-color: $background !important;
        margin-top: 15px;
        border-radius: $high_roundness;
    }

    .content {
        padding: 10px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }
</style>
