<template>
    <div v-if="shown" class="background">
        <div class="row">
            <div class="col-4 nav">
                <div class="col">
                    <a class="title">APP SETTINGS</a>
                    <ul class="">
                        <li class="selected"><a>My Account</a></li>
                        <li><a>Privacy & Safety</a></li>
                        <li><a>Voice & Video</a></li>
                        <li><a>Notifications</a></li>
                        <li><a>Text & Images</a></li>
                        <li><a>Appearance</a></li>
                        <li><a>Language</a></li>
                        <li v-on:click="logOut();" class="error"><a>Log Out</a></li>
                    </ul>
                </div>
            </div>
            <div class="col content">
                <div class="col">

                </div>
                <div v-on:click="shown = false;" class="exit">
                    <a>×</a>
                </div>
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            shown: false
        };
    },
    created() {
        window.events.$on('user-settings', function() {
            this.shown = true;
        }.bind(this));
    },
    methods: {
        logOut() {
            //Delete all cookies
            document.cookie.split(";").forEach(function(c) {
                document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/");
            });
            location.reload();
        }
    }
}
</script>

<style lang="scss" scoped>
   @import '~@/_variables.scss';

    .background {
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 3;
        background-color: $l2_background;
        animation: show 0.1s;
    }

    /* Standard syntax */
    @keyframes show {
        from {
            opacity: 0;
            transform: scale(0.95);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    .nav {
        background-color: $background;
        height: 100vh;
        padding-top: 30px;
    }
    
    .nav .col {
        height: 100vh;
        position: absolute;
        right: 0px;
        max-width: 250px;
    }

    .content .col {
        height: 100vh;
        max-width: 750px;
    }

    .title {
        font-weight: bold;
        color: $secondary_text !important;
        letter-spacing: 1px;
        font-size: 10px;
        padding-left: 10px;
    }

    .exit{
        border: 2px $ui_element solid;
        border-radius: 100px;
        font-size: 30px;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 1vw;
        top: 50px;
        cursor: pointer;
    }

    .exit a {
        display: block;
        margin-left: 10px;
        margin-top: -6px;
    }
</style>
