// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$d_background: #212121;
$background: #2f3239;
$l_background: #484b52;
$l2_background: #3e4147;
$ui_element: #7c7e83;
$primary: #0288D1;
$d_primary: #499bc6;
$accent: #DDA92E;
$primary_text: #ffffff;
$secondary_text: #bcbcbc;
$disabled_text: #A0A0A0;

$default_roundness: 5px;
$high_roundness: 10px;