// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    background-color: #36393f;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

input, textarea, .custom-file-upload, .form-control {
    background-color: #3e4147 !important;
    padding: 2px;
    padding-left: 7px;
    border: none !important;
    color: white !important;
    outline: none !important;
    box-shadow: none !important;
    border-radius: $default_roundness;
}

label, .label {
    font-size: 10px;
    font-weight: 900;
    margin-bottom: 0px;
    color: $secondary_text !important;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    user-select: none;
}

.card {
    border-radius: $high_roundness;
    border: none !important;
    background-color: $l2_background;
    z-index: 2;
}

/* Converts checkbox labels into good looking checkbox's */
.checkbox {
    background-color: #3e4147 !important;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    font-size: 0px;
    margin-left: 15px;
    margin-right: 8px;
    cursor: pointer;
    line-height: 20px;
    padding-left: 4px;
}

input:checked + .checkbox {
    font-size: 20px !important;
}

input[type=checkbox] {
    display: none;
}

.placeholder {
    border-radius: 1000px;
    width: 133px;
    height: 133px;
    background-color: $primary;
    border: 3px white solid;
    background-size: cover;
    background-position: center;
}

a {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn {
    cursor: pointer;
}

/* Scrollbars */
* {
    scrollbar-color: hsla(0,0%,100%,.2) #2f3136;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #2f3136;
}

::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.2);
}

/* Tool tips */
.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1 !important;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: $d_background;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    left: calc(100% + 15px);
    margin-top: -45px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Custom dropdowns */
.divider, .dropdown-divider {
    width: 96%;
    margin-left: 2%;
    height: 1px;
    background-color: rgba(200, 200, 200, 0.08);
    border-top: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown-item {
    height: 35px;
    padding-top: 7px;
    color: $secondary_text;
}

.dropdown-item:hover {
    background-color: $l_background;
    color: white;
}

/* List Styling */

ul:not(.default) {
    padding-left: 0px;
}

ul:not(.default) li {
    list-style: none;
    padding: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    cursor: pointer;
    transition: all 0.1s ease-in;
    border-radius: $default_roundness;
    padding-left: 10px;
    color: $secondary_text !important;
    user-select: none;
    height: 33px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

ul:not(.default) li:hover {
    background-color: $l_background;
    color: white !important;
}

ul:not(.default) .selected {
    background-color: $l_background;
    color: white !important;
}

ul:not(.default) .error {
    color: red !important;
}

ul:not(.default) .error:hover {
    background-color: rgba(200, 0, 0, 0.1);
    color: $red !important;
}

/* Modal System */
.modal-header {
    background-color: $background;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 5px;
    padding-top: 10px;
    border-bottom: none;
}

.modal-header .modal-title {
    font-size: 16px;
    font-weight: 900;
    color: $d_primary;
    text-shadow: -0.5px -0.5px #3a7c9e;
}

.modal-content {
    border-radius: 10px;
    background-color: $l2_background;
}

.modal-footer {
    padding-bottom: 5px;
    padding-top: 3px;
    border-top: none;
}

.modal-footer .btn {
    color: white !important;
}

.modal input {
    background-color: $background !important;
}

.modal .checkbox {
    background-color: $background !important;
}

.modal .row label:not(.checkbox) {
    padding-top: 3px;
}

.modal .btn-close {
    position: absolute;
    left: 5px;
}

/* Dropdown Menu */
.dropdown-menu {
    background-color: #3e4147 !important;
    padding: 0px;
    border: none !important;
    color: white !important;
    outline: none !important;
    box-shadow: none !important;
    border-radius: $default_roundness;
}

.dropdown-item {
    border-radius: $default_roundness;
}

/* Code Boxes */
.prettyprint {
    background-color: $d_background !important;
    width: 100%;
    margin: 0px !important;
    border-radius: $high_roundness;
    line-break: loose;
}